.css-pwngrv-MuiPaper-root-MuiCard-root {
    margin-top: 10vh;
    width: 40vw !important;
    max-width: 50vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef !important;
}

.css-46bh2p-MuiCardContent-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Mui-disabled {
    opacity: 0.5;
}

.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
    background-color: #388e3c !important;
}