@import "../../Styles/root.css";

.MuiAppBar-root {
    background-color: var(--main-color)!important;
}

.MuiButton-root {
    color:white!important;
    border-color: white!important;
}

/* .header-nav{
    background-color: var(--main-color) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.header-logo{
    height: 6.5vh;
    width: auto;
}

.header-logo{
    margin-top: 2vh;
    margin-left: 1.5vw;
}

.search,
.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.btn{
    margin-right: 10px;
    height: 5vh;
    width: 5vw;
    background-color: var(--main-accent-color);
}

.nav-img{
    text-decoration: none;
    color: black;
}
.search{
    margin-left: 10vw;
}

.search-icon{
    height: 5vh;
    width: auto;
}

.search-bar{
    background-color: var(--secondary-accent-color);
    height: 5vh;
    width: 35vw;
}

.login-button{
    height: 7.5vh;
    width: 7.5vw;
    margin-right: 1.5vw;
    font-size: 2rem;
    background-color: var(--main-accent-color);
    border: none;
    border-radius: 2vw;
} */